*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}


 /* ------------ HEADER ------------ */
header{
    display: flex;
    align-items: center;
    background-color: #d0f1eb;
    gap: 4%;
    height: 6rem;
    padding: 1.5rem;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0 0 1rem 1rem;
}

.leftHeader{
    flex-basis: 10%
}
.leftHeader img{
width: 100%;
height: auto;
}

.rightHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 90%; 
}

.bottomHeader{
display: flex;
align-items: flex-start;
justify-content: space-between;

}

.leftHeader {
    display: flex;
}


 /* ------------ MAIN ------------ */

 main{
     margin-top: 2rem;
     /* width: 100%; */
 }

  /* ------------ Wallet ------------ */

.wallet{
    display: flex;
    border-radius: 1rem;
    width: 90%;
    margin: auto;
    padding: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.leftWallet{
margin-right: .2rem;
width: ;
}

.rightWallet{
    display: flex;
    flex-direction: column;

    justify-content:center;
    flex-basis: 80%

}

.topRightWallet{
    display: flex;
    justify-content: space-between;

}

.bottomRightWallet{
    display: flex;
    justify-content: space-between;

}
.iconAndText{
    display: flex;
}
.arrowIcon{
    display: flex;
    align-items: flex-end;
}



  /* ------------ Options ------------ */



.options{
    display: flex;
    justify-content:space-around;
    margin: auto;
    margin-top: 1.5rem;
    width: 85%;
}

.box{
background-color: #ded2f9;
width: 30%;
height: 120px;
display: flex;
flex-direction: column;
align-items:center;
justify-content: space-around;
border-radius: 1rem;


}
.circleOptions{
background-color: white;
border-radius: 50px;
width: 50%;
height:60px;
display: flex;
justify-content: center;
align-items: center;
}

.options div p {
    font-size: 1.1rem;
    font-weight: bolder;
}


  /* ------------ Activities ------------ */


.activities {
     width: 95%;
margin: auto;
margin-top: 1.5rem;
padding: .5rem;
}

.activitiesHead{
    display: flex;
    justify-content: space-between;

}
.rightActivitiesHead{
    display: flex;
gap: .6rem;
}
.activity{
display: flex;
justify-content: space-between;
background-color: rgb(217, 223, 225);
height: 3rem;
border: .1rem solid rgb(190, 200, 203);
border-radius: .5rem;
align-items: center;
margin-top: .3rem;
padding: .4rem;
}

.leftActivity{
    display: flex;
    gap: .5rem;

}

.circleActivity {
    display: flex;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

