*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}


 /* ------------ HEADER ------------ */
header{
    display: flex;
    align-items: center;
    background-color: #d0f1eb;
    gap: 4%;
    height: 6rem;
    padding: 1.5rem;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0 0 1rem 1rem;
}

.leftHeader{
    flex-basis: 10%
}
.leftHeader img{
width: 100%;
height: auto;
}

.rightHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 90%; 
}

.bottomHeader{
display: flex;
align-items: flex-start;
justify-content: space-between;

}

.leftHeader {
    display: flex;
}


 /* ------------ MAIN ------------ */

 main{
     margin-top: 2rem;
     /* width: 100%; */
 }

  /* ------------ Wallet ------------ */

.wallet{
    display: flex;
    border-radius: 1rem;
    width: 90%;
    margin: auto;
    padding: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.leftWallet{
margin-right: .2rem;
width: ;
}

.rightWallet{
    display: flex;
    flex-direction: column;

    justify-content:center;
    flex-basis: 80%

}

.topRightWallet{
    display: flex;
    justify-content: space-between;

}

.bottomRightWallet{
    display: flex;
    justify-content: space-between;

}
.iconAndText{
    display: flex;
}
.arrowIcon{
    display: flex;
    align-items: flex-end;
}



  /* ------------ Options ------------ */



